In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [4]:
# Encode categorical variable
lable_encoder_gender=LabelEncoder()
data['Gender']=lable_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
# One-Hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [7]:
# split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scalar = StandardScaler()
X_train=scalar.fit_transform(X_train)
X_test=scalar.fit_transform(X_test)

In [14]:
# Load the encoders and scaler
with open('salary_regression_onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('salary_regression_label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(lable_encoder_gender, file)

with open('salary_regression_scalar.pkl', 'wb') as file:
    pickle.dump(scalar, file)

### ANN Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
## Bild our ANN Model
model=Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32, activation='relu'), ## HL2
    Dense(1), ## Output layer for regression is linear activation(Means by defualt activation is linear, basically used for regression)
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [23]:
## Set up Early Stopping
early_stoppinh_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [29]:
## Training model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stoppinh_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 553us/step - loss: 49429.0195 - mae: 49429.0195 - val_loss: 50215.7773 - val_mae: 50215.7773
Epoch 2/100
250/250 [==============================] - 0s 476us/step - loss: 49425.1016 - mae: 49425.1016 - val_loss: 50216.5391 - val_mae: 50216.5391
Epoch 3/100
250/250 [==============================] - 0s 466us/step - loss: 49420.5781 - mae: 49420.5781 - val_loss: 50213.2422 - val_mae: 50213.2422
Epoch 4/100
250/250 [==============================] - 0s 465us/step - loss: 49414.7578 - mae: 49414.7578 - val_loss: 50218.5547 - val_mae: 50218.5547
Epoch 5/100
250/250 [==============================] - 0s 468us/step - loss: 49413.9102 - mae: 49413.9102 - val_loss: 50227.2383 - val_mae: 50227.2383
Epoch 6/100
250/250 [==============================] - 0s 465us/step - loss: 49404.3398 - mae: 49404.3398 - val_loss: 50214.2578 - val_mae: 50214.2578
Epoch 7/100
250/250 [==============================] - 0s 463us/step - loss: 49400.9844 - mae: 49400.9844 - val_loss: 50219.8477 - val_mae: 50219.8477
Epoch 8/100
250/250 [==============================] - 0s 451us/step - loss: 49398.6992 - mae: 49398.6992 - val_loss: 50216.4609 - val_mae: 50216.4609
Epoch 9/100
250/250 [==============================] - 0s 450us/step - loss: 49395.6836 - mae: 49395.6836 - val_loss: 50218.5391 - val_mae: 50218.5391
Epoch 10/100
250/250 [==============================] - 0s 455us/step - loss: 49391.7891 - mae: 49391.7891 - val_loss: 50209.1523 - val_mae: 50209.1523
Epoch 11/100
250/250 [==============================] - 0s 467us/step - loss: 49390.7539 - mae: 49390.7539 - val_loss: 50216.9219 - val_mae: 50216.9219
Epoch 12/100
250/250 [==============================] - 0s 482us/step - loss: 49380.5117 - mae: 49380.5117 - val_loss: 50216.9961 - val_mae: 50216.9961
Epoch 13/100
250/250 [==============================] - 0s 473us/step - loss: 49378.7227 - mae: 49378.7227 - val_loss: 50218.2578 - val_mae: 50218.2578
Epoch 14/100
250/250 [==============================] - 0s 470us/step - loss: 49377.8828 - mae: 49377.8828 - val_loss: 50224.1484 - val_mae: 50224.1484
Epoch 15/100
250/250 [==============================] - 0s 468us/step - loss: 49371.7852 - mae: 49371.7852 - val_loss: 50222.8359 - val_mae: 50222.8359
Epoch 16/100
250/250 [==============================] - 0s 470us/step - loss: 49367.8125 - mae: 49367.8125 - val_loss: 50227.0742 - val_mae: 50227.0742
Epoch 17/100
250/250 [==============================] - 0s 467us/step - loss: 49364.3633 - mae: 49364.3633 - val_loss: 50229.6758 - val_mae: 50229.6758
Epoch 18/100
250/250 [==============================] - 0s 467us/step - loss: 49360.4023 - mae: 49360.4023 - val_loss: 50228.3984 - val_mae: 50228.3984
Epoch 19/100
250/250 [==============================] - 0s 476us/step - loss: 49355.0078 - mae: 49355.0078 - val_loss: 50225.6367 - val_mae: 50225.6367
Epoch 20/100
250/250 [==============================] - 0s 477us/step - loss: 49351.1758 - mae: 49351.1758 - val_loss: 50223.6992 - val_mae: 50223.6992

In [30]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [32]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 33349), started 0:01:37 ago. (Use '!kill 33349' to kill it.)

In [33]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 302us/step - loss: 50209.1523 - mae: 50209.1523
Test MAE : 50209.15234375

In [ ]:
model.save('regression_model.h5')